# ==============================
# BANCO DE DADOS
# ==============================
# Para testes com SQLite:
#DB_DIALECT=sqlite
#DB_STORAGE=./database.sqlite

# Para produção com MySQL (Railway):
DB_DIALECT=mysql
DB_HOST=shinkansen.proxy.rlwy.net
DB_PORT=33835
DB_USER=root
DB_PASSWORD=fgsFgYbCDudkIkNPacJqflcPOhomTtzW
DB_NAME=railway

# ==============================
# AUTENTICAÇÃO JWT
# ==============================
JWT_SECRET=ManutiAI2026/senai

# ==============================
# MQTT (HiveMQ Cloud)
# ==============================
MQTT_BROKER=mqtts://c35e052ade714fca9ddce72e63df4c3e.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=admin
MQTT_PASSWORD=Admin123
MQTT_TOPIC=manutai/leitura

# ==============================
# SERVIDOR
# ==============================
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
FRONTEND_URL=http://localhost:3001

# ==============================
# EMAIL (Nodemailer)
# ==============================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=manutaiempresa@gmail.com
EMAIL_PASS=xwab qmyh sukf sdip

# ==============================
# GROQ IA (ChatBot)
# ==============================
# Gere sua chave em: https://console.groq.com/keys
GROQ_API_KEY=chave_api_aqui
GROQ_MODEL=llama-3.3-70b-versatile
